<div class="blog-post edit-post">
    <h1>New post</h1>

    <form ng-submit="savePost()">
        <div class="post-edit-zone">
            <label for="postTitle">Post title</label>
            <input required type="text" id="postTitle" ng-model="post.postTitle"/>

            <div class="markdown-editor-container" ng-class="{fullScreen:isEditorOpen}">
                <div class="markdown-editor">
                    <div ng-if="isEditorOpen" class="editor-section editor-input">
                        <textarea class="extensible" ng-model="post.postContent"></textarea>
                         <pre class="markdown-highlighter" markdown-text="{{post.postContent}}">
                            <code></code>
                        </pre>
                    </div>
                    <div class="editor-preview editor-section">
                        <div ng-click="toggleEditor()" ng-bind-html="post.postContent | makeHtml"></div>
                    </div>
                </div>
            </div>
            <label>Tags:</label>

            <div blog-it-tag-collection="post.tags" class="small"></div>
        </div>
        <div class="dialog-bar">
            <input class="btn" type="submit" value="Save"/>
        </div>
    </form>
</div>