$base-color: #166aae;
$base-color-light: #1694dd;
$base-color-dark: #154e80;

$base-contrast-color: #e08515;
$base-contrast-color-light: #ff9f20;

$base-gray: #646464;
$light-gray: #aeaeae;
$dark-gray: #3c3c3c;
$lighter-gray: #e6e6e6;
$darker-gray: #1e1e1e;