@import './_variables';
@import './mixins/common';
@import './partials/_moderniz';
@import './partials/_header';
@import './partials/_home';
@import './partials/_post';
@import './partials/_dashboard';
@import './partials/_editor';

body {
  font-size: 100%;
}

ul, ol {
  list-style: none;
}

footer {
  padding: 0 2em;
}

.main-view {
  padding: 0.5em;
  -webkit-transform-origin: 50% 0;
}

.main-view.ng-enter {
  @include transition(opacity, 0.5s, ease-in-out, 0.8s);
}

.main-view.ng-enter {
  opacity: 0;
}

.main-view.ng-enter-active {
  opacity: 1;
}

.main-view.ng-leave {
  @include transition(opacity, 0.5s, ease-in-out);
  opacity: 1;
}

.main-view.ng-leave-active {
  opacity: 0;
}

