@import './_variables';
@import './mixins/common';
@import './partials/_moderniz';
@import './partials/_header';
@import './partials/_blog';
@import './partials/_post';
@import './partials/_dashboard';
@import './partials/_editor';
@import "./partials/notification";

body {
  font-size: 100%;
  color: $darker-gray;
  font-family: 'Ruluko', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  text-align: center;
  background: $dark-gray;
  box-shadow: inset 0 0.5em 25px 1px $darker-gray;
  color: $lighter-gray;
  font-size: 0.8em;
  padding: 1em;
  margin-top: 1em;
  min-height: 10vh;
}

a {
  color: inherit;
}

.main-view {
  flex-grow: 1;
  display: flex;
  @extend %opacity-animation;
  padding: 0.5em;
  -webkit-transform-origin: 50% 0;
}

.btn {
  border-radius: 3px;
  border-width: 2px;
  padding: 0.4em;
  border-style: solid;
}

.no-style-list {
  list-style: none;
}



