@mixin nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin border-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@mixin transition($property: all, $duration: 0.5s, $function: ease, $delay: 0) {
  -webkit-transition: $property $duration $function $delay;
  -moz-transition: $property $duration $function $delay;
  -o-transition: $property $duration $function $delay;
  transition: $property $duration $function $delay;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  transform: $value;
}

%opacity-animation.ng-enter {
  @include transition(opacity, 1s);
  opacity: 0;
}

%opacity-animation.ng-enter-active {
  opacity: 1;
}

%opacity-animation.ng-leave {
  opacity: 1;
}

%opacity-animation.ng-leave-active {
  opacity: 0;
}