<div class="blog-container">
    <h1>Blog IT Blog</h1>
    <div ng-show="isLoading" class="loading-indicator"></div>
    <ul class="post-collection">
        <li ng-repeat="post in posts track by post._id" class="post-item">
            <article class="post">
                <header>
                    <h1>{{post.postTitle}}</h1>

                    <p class="metadata">
                        published by <em>{{post.author}}</em> on
                        <time itemprop="dateCreated" datetime="{{post.createdAt | date:'yyyy-MM-dd'}}">{{post.createdAt
                            |
                            date}}
                        </time>
                    </p>
                    <ul class="tag-collection icon-tag small">
                        <li class="tag-item btn" ng-repeat="tag in post.tags track by $index">
                            <a ng-href="/posts?tag={{tag}}">{{tag}}</a>
                        </li>
                    </ul>
                </header>
                <div class="post-content" markdown-selector="p" markdown-content="post._id"></div>
                <a ng-href="./posts/{{post._id}}">Read more</a>

            </article>
        </li>
    </ul>
    <div ng-hide="isLoading" class="blog-load-more-container">
        <a class="blog-load-more btn icon-plus" ng-click="loadMore()" lr-stop-propagation="click" href="#"><span>Load more</span></a>
    </div>
</div>