<article class="post">
    <header>
        <h1>{{post.postTitle}}</h1>

        <p class="metadata">
            published by <em>{{post.author}}</em> on
            <time itemprop="dateCreated" datetime="{{post.createdAt | date:'yyyy-MM-dd'}}">{{post.createdAt |
                date}}
            </time>
        </p>
        <ul class="tag-collection small icon-tag">
            <li class="tag-item btn" ng-repeat="tag in post.tags track by $index"><a href="#">{{tag}}</a></li>
        </ul>
    </header>
    <div markdown-content="post._id"></div>
</article>