@import '../variables';
@import '../mixins/common';

.blog-container {
  & > h1 {
    text-align: center;
  }

  .post-item:not(:first-child) {
    border-top: 2px solid $base-color;
  }
}

.blog-load-more {

  @extend %submit-btn;

  & > span {
    margin-left: 0.5em;
    font-weight: bold;
    padding: 0.5em;
  }
}

.blog-load-more-container {
  text-align: center;
}