@import '../mixins/common';
@import '../variables';

.markdown-editor {
  display: flex;
  z-index: 5;
  align-items: stretch;
  background: white;
  height: 100%;
}

.markdown-editor-container {

  &.fullScreen {
    display: flex;
    flex-flow: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:not(.fullScreen) {
    border: 1px solid $base-color;
  }
}

.editor-section {
  overflow-y: auto;
  @include border-box;
  display: inline-block;
}

%edit-sub-section {
  @include border-box;
  width: 100%;
  min-height: 100%;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  white-space: wrap;
  margin: 0;
}

.editor-input {
  position: relative;
  background: $lighter-gray;
  flex-shrink: 0;

  width: 50%;
  opacity: 1;

  & > textarea {
    @extend %edit-sub-section;
    border: 0;
    background: transparent;
    opacity: 0.4;
    z-index: 14;
    color: rgba(0, 0, 0, 0.8) !important;
    padding: 0.5em;
    font-family: monospace, serif;
    resize: none;
  }
}

.sliding.ng-enter {
  -webkit-transition: width 0.5s ease-in-out 0, opacity 0.7s ease 0.3s;
  -moz-transition: width 0.5s ease-in-out 0, opacity 0.4s ease 0.1s;
  -o-transition: width 0.5s ease-in-out 0, opacity 0.7s ease 0.3s;

  transition: width 0.5s ease-in-out 0, opacity 0.7s ease 0.3s;

  width: 0;
  opacity: 0;
}

.sliding.ng-enter-active {
  width: 50%;
  opacity: 1;
}

.sliding.ng-leave {
  -webkit-transition: width 0.5s ease-in-out 0, opacity 0.7s ease 0.3s;
  -moz-transition: width 0.5s ease-in-out 0, opacity 0.4s ease 0.1s;
  -o-transition: width 0.5s ease-in-out 0, opacity 0.7s ease 0.3s;

  transition: width 0.5s ease-in-out 0, opacity 0.7s ease 0.3s;

  width: 50%;
  opacity: 1;
}

.sliding.ng-leave-active {
  opacity: 0;
  width: 0;
}

.editor-preview {
  overflow-y: auto;
  flex-shrink: 1;
}

.markdown-highlighter {
  @extend %edit-sub-section;
  word-wrap: break-word;
}

.editor-tool-bar {
  padding: 0.4em;
  background: $light-gray;
  border-bottom: 1px solid $base-gray;

  & > .tool-item {
    text-decoration: none;
    color: #ffffff;

  }
}


