@import '../mixins/common';
@import "../variables";

.notification-container {
  width: 100%;
  z-index: 999;
}

.notification-collection {
  list-style: none;
  margin: 0;
  padding: 0;
}

div[lr-notification-stack-container="global"] {
  @extend .notification-container;
  position: fixed;
  top: 0;

}

div[lr-notification-stack-container="dashboard"] {
  @extend .notification-container;
  position: absolute;
}

.notification-item {
  @extend %opacity-animation;
  text-align: center;
  padding: 0.7em;
  color: $lighter-gray;
}

.success {
  background: rgb(0, 128, 92);
}

.error {
  background: rgb(255, 41, 0);
}

.info {
  background: $darker-gray;
}