@import '../variables';
@import '../mixins/common';

.post {
  text-align: justify;
  padding: 0.6em;

  header {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  h1, h2 {
    color: $base-color-dark;
    padding: 0.5em;
    @include nowrap;
  }

  h1 {
    flex-basis: 100%;
    font-size: 1.5em;
  }

  h2, h3, h4 {
    font-size: 1.2em;
    border-bottom: 1px solid $base-color-light;
  }

  img, iframe, figure, pre {
    display: block;
    margin: auto;
    max-width: 90%;
  }

  a {
    color: $base-contrast-color;
    @include transition;

    &:hover {
      color: $base-contrast-color-light;
      text-shadow: 0 0 1px $base-contrast-color;
    }
  }
}

.post-collection {
  padding: 0;
}

.post-item {
  @extend %opacity-animation;
  padding: 1em 0;
}

.tag-collection {
  padding: 0.5em;
  margin: 0;
}

.tag-item {
  display: inline-block;
  background: $base-color;
  border-color: transparent $base-color-dark $base-color-dark transparent;
  margin: 0.3em;
  & > a {
    color: $lighter-gray;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }

  &:hover {
    background: $base-color-light;
  }
}

.edit {

  color: $lighter-gray;
  .tag-item > .btn {
    color: $lighter-gray;
  }
}

.metadata {
  margin: 0;
  display: inline-table;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.5em;
  background-color: $lighter-gray;
  background: linear-gradient(to right, $lighter-gray 0%, rgba(0, 0, 0, 0) 80%);

  em, time {
    font-weight: bold;
  }
}

.post-content {
  clear: both;
}

.edit-post {
  width: 100%;
}


