@import '../variables';
@import '../mixins/common';

.post {
  text-align: justify;

  h1, h2 {
    color: $base-color-dark;
    padding: 0.5em;
  }

  h1 {
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h2 {
    font-size: 1.2em;
  }

  img {
    display: block;
    margin: auto;
  }

  a {
    color: $base-contrast-color;
    @include transition;

    &:hover {
      color: $base-contrast-color-light;
      text-shadow: 0 0 1px $base-contrast-color;
    }
  }
}

.post-collection {
  padding: 1em;
}

.post-item {
  padding: 1em 0;
}

.tag-collection {
  float: right;
  margin: 1em 0;
}

.tag-item {
  display: inline;
  padding: 0 1em;
}

.metadata {
  padding: 0.5em;
  background-color: $lighter-gray;
  background: linear-gradient(to right, $lighter-gray 0%, rgba(0, 0, 0, 0) 80%);

  em, time {
    font-weight: bold;
  }
}

.post-content {
  clear: both;
}
