<div class="dashboard-container">
    <div class=" side-panel">
        <div lr-notification-stack-container="dashboard">
            <p>{{ notification.message }}</p>
        </div>
        <ul>
            <li class="btn tool-item">
                <a class="icon-plus small" href="/posts/create/new"></a>
            </li>
            <li ng-hide="!selectedPost" class="btn tool-item">
                <a class="icon-pencil small" href="/posts/edit/{{selectedPost._id}}"></a>
            </li>
            <li class="btn tool-item" ng-hide="!selectedPost">
                <a class="icon-close small" ng-click="removePost(selectedPost)" href="#"></a>
            </li>
        </ul>
        <div class="post-collection-container">
            <ul class="post-collection" lr-infinite-scroll="loadMore">
                <li class="post-item" ng-repeat="post in posts track by post._id"
                    ng-click="selectPost(post)">
                    <article ng-class="{'selected-post':selectedPost==post}" class="post">
                        <h1>
                            {{post.postTitle}}
                        </h1>

                        <div class="post-preview" markdown-content="post._id" markdown-selector="p"></div>
                        <aside class="post-preview-tools">
                            <ul class="no-style-list tool-collection">
                                <li class="btn tool-item">
                                    <a class="icon-pencil very-small" ng-href="/posts/edit/{{post._id}}"></a>
                                </li>
                                <li class="btn tool-item">
                                    <a class="icon-close very-small" ng-href="#" lr-stop-propagation="click"
                                       ng-click="removePost(post)"></a>
                                </li>
                            </ul>
                        </aside>
                    </article>
                </li>
            </ul>
            <div ng-show="isLoading" class="loading-indicator"></div>
        </div>
    </div>
    <section class="main-content">
        <div class="dashboard-intro" ng-if="!selectedPost">
            <p class="very-big">Here is your dashboard. You'll be able to find the list of published and draft posts. A
                preview as they
                will
                be published is available, so is a set of tools which will allow you to create/edit/publish/delete your
                posts.</p>
        </div>
        <article blot-it-post="true" class="post" post="selectedPost" ng-if="selectedPost">
        </article>
    </section>
</div>