<div class="dashboard-container">
    <div class=" side-panel">
        <a href="/posts/create/new">New</a>
        <ul class="post-collection" lr-infinite-scroll="loadMore">
            <li class="post-item" ng-repeat="post in posts" ng-click="selectPost(post)">
                <article class="post">
                    <h1>
                        {{post.postTitle}}
                    </h1>

                    <div class="post-preview" markdown-content="post._id" markdown-selector="p"></div>
                    <aside>
                        <ul>
                            <li>
                                <a ng-href="/posts/edit/{{post._id}}">Edit</a>
                            </li>
                            <li>
                                <a ng-href="#" lr-stop-propagation="click" ng-click="removePost(post)">Remove</a>
                            </li>
                        </ul>
                    </aside>
                </article>
            </li>
        </ul>
    </div>
    <section class="main-content">
        <div ng-if="!selectedPost">
            <p>Here is your dashboard. You'll be able to find the list of published and draft posts. A preview as they
                will
                be published is available, so is a set of tools which will allow you to create/edit/publish/delete your
                posts </p>
        </div>
        <article class="post" ng-if="selectedPost">
            <header>
                <h1>{{selectedPost.postTitle}}</h1>

                <p>
                    published by <em>{{selectedPost.author}}</em> on
                    <time itemprop="dateCreated" datetime="{{selectedPost.createdAt | date:'yyyy-MM-dd'}}">
                        {{selectedPost.createdAt |
                        date}}
                    </time>
                </p>
                <ul class="tag-collection">
                    <li class="tag-item" ng-repeat="tag in selectedPost.tags">{{tag}}</li>
                </ul>
            </header>
            <a ng-href="/posts/edit/{{selectedPost._id}}">Edit</a>

            <div markdown-content="selectedPost._id"></div>
        </article>
    </section>
</div>